---
title: false
styles: true
---

.image-container {
    display: grid;                /* Use grid layout */
    grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
    gap: clamp(5px, 2vw, 15px);;                    /* Add spacing between rows and columns */
    margin: 0;                    /* Remove default margin */
    padding: 0;                   /* Remove default padding */
}

.figure {
  margin: 0;
}

.image {
    width: 100%;
    height: auto
}

@import "alembic";
